* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: "Inter", "sans-serif";

    --border-color: rgb(252, 237, 106);
    --button-color: rgb(133, 5, 94);
    --top-bar-height: 10vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

body {
    font-size: 1rem;
    font-family: "Inter", "sans-serif";
    line-height: 1.2;
    overflow-x: hidden;
}
